// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) -
		(($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

// Media query
$breakpoints: (
	"xs": 386px,
	"sm": 566px,
	"md": 767px,
	"lg": 992px,
	"xl": 1170px,
	"xxl": 1390px,
	"xxxl": 1720px,
	"ultra": 1920px,
) !default;

/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints

@mixin respond-from-min($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}

	// If the key doesn't exist in the map
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			  + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
/* UPORABA
@include respond-from-min("lg") {
	font-size: 28px !important;
}
*/

// Site paddings
@mixin side-padding {
	padding-left: $side-padding;
	padding-right: $side-padding;

	@include respond-from-min("sm") {
		padding-left: $side-padding-percent;
		padding-right: $side-padding-percent;
	}
	@include respond-from-min("xxl") {
		padding-left: 0;
		padding-right: 0;
	}
}

@mixin list-style {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.container {
	width: 100%;
	max-width: $page_width;
	margin: 0 auto;
	@include side-padding;
}
