$size__site-main: 100%;
$size__site-sidebar: 25%;

$page_width: 125.6rem;
$page_width_single: 82rem;

$side-padding: 2.1rem;
$side-padding-percent: 7%;

$border-radius: 1.2rem;

$transition-fast: 0.18s ease-out;
